<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>
            This site was created by Antonis Kiosses. It uses data from
            <a href="https://www.mapbox.com/">mapbox</a>
            and
            <a href="https://weatherstack.com/">weather stack</a>
            !
        </p>
        <img class="portrait" src="/img/me.jpg" alt="no picture found">
    </div>
    {{>footer}}
</body>
</html>